/* Color Theme Swatches in Hex */
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-1-hex { color: #0B3B59; }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-2-hex { color: #082A40; }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-3-hex { color: #051A26; }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-4-hex { color: #27668C; }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-5-hex { color: #6A8FA6; }

/* Color Theme Swatches in RGBA */
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-1-rgba { color: rgba(10, 59, 89, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-2-rgba { color: rgba(7, 42, 63, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-3-rgba { color: rgba(5, 25, 38, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-4-rgba { color: rgba(39, 101, 140, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-5-rgba { color: rgba(106, 142, 165, 1); }

/* Color Theme Swatches in HSLA */
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-1-hsla { color: hsla(202, 78, 19, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-2-hsla { color: hsla(202, 78, 14, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-3-hsla { color: hsla(202, 75, 8, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-4-hsla { color: hsla(202, 56, 35, 1); }
.Dark-blue-background-with-sun-spots.-Color-of-the-year-2020-Classic-Blue-pantone-5-hsla { color: hsla(202, 25, 53, 1); }
