#menu-container {
  overflow: auto;
  height: 80vh;
}

#navbar-collapse {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(0, -120vh, 0);

    width: 100vw;
    height: 100vh;
}

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  transition: transform 1s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  -moz-box-shadow: 0px 2px 0.5em 1em rgb(0, 0, 0);
  -webkit-box-shadow: 0px 2px 0.5em 1em rgb(0, 0, 0);
  box-shadow: 0px 2px 0.5em 1em
}

#flyoutMenu.hide {
  transform: translate3d(0, -120vh, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu h2 a {
  color: #333;
  margin-bottom: 15px;
  text-decoration: none;
}


a:link {
  text-decoration: none;
}

#nav-brand {
  font-weight: 900;
}

.is-active {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: black!important;
}

.menu-items {
  font-size: 5em;
}

.sub-menu-items {
  font-size: 3.5em;
}

a #who-link-expanded { display: none; }
a:hover #who-link { display: none; }
a:hover #who-link-expanded {
  display: inline;/* transition timing */
  transition: all .5s;
}
a.is-active #who-link { display: none; }
a.is-active #who-link-expanded {
  display: inline;
  /* transition timing */
    transition: all .5s;
}

a #how-link-expanded { display: none; }
a:hover #how-link { display: none; }
a:hover #how-link-expanded {
  display: inline;
  /* transition timing */
    transition: all .5s;
}
a.is-active #how-link { display: none; }
a.is-active #how-link-expanded {
  display: inline;
  /* transition timing */
    transition: all .5s;
}

@supports (-webkit-text-stroke: 1px gray) {
  .nav-outline-type {
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: white;
    /* transition timing */
    transition: all .5s;
  }
}

@supports (-webkit-text-stroke: 1px black) {
  .nav-outline-type:hover {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    /* transition timing */
      transition: all .5s;
  }
}

.navbar {
background-color: white;
-moz-box-shadow: 0px 2px 0.5em 1em rgb(255, 255, 255);
-webkit-box-shadow: 0px 2px 0.5em 1em rgb(255, 255, 255);
box-shadow: 0px 2px 0.5em 1em rgb(255, 255, 255);
background-color: white;
/* transition timing */
  transition: all 1s;
}

.left-nav {
  text-align:left;
}

.right-nav {
  text-align:right;
}

.social-row {
  justify-content: flex-end;
}

div.navbar_container {
  display:table;
  width:100%;
  table-layout: fixed;
}

div.navbar_container span {
  display:table-cell;
  /* border: 1px solid gray; */
  vertical-align:middle;
}

.standard_nav {
  animation: nav 0.2s ease-in-out forwards;
  display: flex;
  justify-content: space-between;
  max-width: 30em;
  margin: 0 auto;
  padding: 1.5em;
}
