#lottie-wrapper {
  width: 100%;
  height: 150vh;
}

#bodymovin {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30vh;
}

.medium-lottie {
  width: 50%;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro' ,'Lato', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
